@import url('https://fonts.googleapis.com/css?family=Inconsolata');

code {
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    /*font-weight: 100;*/
    border: none;
    overflow: scroll;
    font-family: 'Inconsolata', 'Menlo', 'Monaco', Courier, monospace;
}

code.hljs {
  font-size: 12px;
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
  font-weight: normal;
}

pre code {
    font-size: 11px;
    word-wrap: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding: 16px;
    padding-bottom: 14px;
    display: block;
    color: #808080;
    background: #fff;
    border: none;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 6px;
    overflow: auto;
}

/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  background: #1d1f21;
  color: #c5c8c6;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #cc6666;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #f0c674;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #b5bd68;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #81a2be;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/* Mixed with Railcast by Thomas Lin Pedersen */

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

/* Color from Railcast symbol etc */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #6d9cbe;
}