{{ partial "head.html" . }}
<body id="portfolio">
{{ partial "nav.html" . }}

<section id="wrapper" class="art">
  <div id="art-purchase">
    <h2>Purchase</h2>
    <p>
      {{ .Params.purchase | markdownify }}
    </p>
  </div>
  <div id="art-about">
    {{ .Content }}
  </div>
  
  <h2>Gallery</h2>
  <ul class="image-gallery">
    {{ range sort (.Resources.ByType "image") "Name"}}
      {{ $image := .Fill "500x500 center" }}
      {{ $imageName := replace (path.Base .Name) (path.Ext .Name) ""}}
      <li>
        <figure>
          <a href="#" data-featherlight="{{.RelPermalink}}" class="autoBind">
            <img src="{{$image.RelPermalink}}" alt="{{$imageName}}" width="{{$image.Width}}px" height="{{$image.Height}}px"/>
          </a>
          <figcaption>{{$imageName}}</figcaption>
        </figure>
      </li>
    {{ end }}
  </ul>
  <div id="art-about2">
    {{ .Content }}
  </div>
  {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
<link href="{{ .Site.BaseURL }}js/featherlight.min.css" type="text/css" rel="stylesheet" />
<script src="{{ .Site.BaseURL }}js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script>
$.featherlight.prototype.afterContent = function() {
  var caption = this.$currentTarget.find('img').attr('alt');
  this.$instance.find('.caption').remove();
  $('<div class="featherlight-caption">').text(caption).appendTo(this.$instance.find('.featherlight-content'));
};
</script>
</body>
