{{ partial "head.html" . }}
<body id="portfolio">
{{ partial "nav.html" . }}

<section id="wrapper" class="art">
  <header>
    <h1>
      Generative Art <span class="byline">by Thomas Lin Pedersen</span>
    </h1>
  </header>
  <div id="art-purchase">
    <h2>Purchase</h2>
    <p>
      {{ .Params.purchase | markdownify }}
    </p>
  </div>
  <div id="art-about">
    {{ .Content }}
  </div>
  
  <h2>Gallery</h2>
  <ul class="image-gallery">
    {{ range sort (.Resources.ByType "image") ".RelPermalink" "desc"}}
      {{ $image := .Fill "500x500 center" }}
      {{ $imageName := replace (path.Base .Name) (path.Ext .Name) ""}}
      {{ $description := readFile (print "content/art/" (path.Dir .Name) "/info")}}
      <li>
        <figure>
          <a href="#" data-featherlight="{{.RelPermalink}}" class="autoBind" data-description="{{$description | markdownify}}">
            <img src="{{$image.RelPermalink}}" alt="{{$imageName}}" width="{{$image.Width}}px" height="{{$image.Height}}px"/>
          </a>
          <figcaption>{{$imageName}}</figcaption>
        </figure>
      </li>
    {{ end }}
  </ul>
  <div id="art-about2">
    {{ .Content }}
  </div>
  {{ partial "footer.html" . }}
</section>

{{ partial "js.html" . }}
<link href="{{ .Site.BaseURL }}js/featherlight.min.css" type="text/css" rel="stylesheet" />
<script src="{{ .Site.BaseURL }}js/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script>
$.featherlight.defaults.afterContent = function() {
  var caption = this.$currentTarget.find('img').attr('alt');
  var description = this.$currentTarget.attr('data-description');
  this.$instance.find('.caption').remove();
  var descContainer = $('<div class="featherlight-caption">');
  descContainer.append($("<p class='caption-title'>").text(caption));
  descContainer.append($("<p class='caption-text'>").text(description));
  descContainer.css("max-width", this.$instance.find('.featherlight-content img').css("width"));
  descContainer.appendTo(this.$instance.find('.featherlight-content'));
};
$.featherlight.defaults.onResize = function() {
  this.$instance.find('.featherlight-caption').css("max-width", this.$instance.find('.featherlight-content img').css("width"));
}
</script>
</body>
